* {
  font-family: Helvetica, Arial, sans-serif
}

html {
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  background-color: black;
}

h1,h2,h3,h4, p, input {
  color: white;
}

input {
  width: 100%;
  font-size: 1rem;
  background-color: black;
  border: 1px solid white;
}

.card {

  align-content: center;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  max-height: 100%;


}

.card p {
  text-align: center;

}

.card img {
  max-width: 100%;
}


.card-grid {

  display: grid;
  align-content: center;
  column-gap: 10px;

}

@media (min-width: 468px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 767px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

ol {
  padding: 0;
}

